<h2>Admin Dashboard</h2>

<a href="/add_employee">Add Employee</a> | <a href="/report">Report</a> | <a href="/excel">Excel</a>

<table border="1">

<tr>
<th>ID</th>
<th>Name</th>
<th>Designation</th>
<th>Location</th>
<th>Action</th>
</tr>

{% for e in employees %}

<tr>

<td>{{e[0]}}</td>
<td>{{e[1]}}</td>
<td>{{e[2]}}</td>
<td>{{e[3]}}</td>

<td>

<a href="/attendance/{{e[0]}}">Mark</a> |

<a href="/edit_employee/{{e[0]}}">Edit</a> |

<a href="/delete_employee/{{e[0]}}"
onclick="return confirm('Delete employee?')">

Delete

</a>

</td>

</tr>

{% endfor %}

</table>
